<div class="container" role="main">

  <h1>It worked!!</h1>
  <p>Hello journal club!!</p>

  <form (ngSubmit)="submit()">
    <div class="row mb-3">
      <label for="exampleInputName1" class="form-label">Name</label>
      <div class="col-4">
        <input [(ngModel)]="user.name" name="name" type="text" class="form-control" id="exampleInputName1" aria-describedby="nameHelp">
      </div>
    </div>
    <div class="row mb-3">
      <label for="exampleInputAge1" class="form-label">Age</label>
      <div class="col-4">
        <input [(ngModel)]="user.age" name="age" type="text" class="form-control" id="exampleInputAge1">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
